body {
    background-image: url("farquaad.gif");
    background-repeat: repeat;
    background-color: greenyellow;
    color: orangered;
    text-align: center;
}

a {
    /* padding-left: 200px; */
    font-size: x-large;
    color: orange;
}