body {
    background-image: url("swamp.gif");
    background-repeat: repeat;
    text-align: center;
}

h1 {
    color: white;
}

a {
    /* padding-left: 200px; */
    font-size: x-large;
    color: white;
}